<template>
    <div class="bg-gray-950">
        <h1 class="text-center text-2xl p-5 text-white">Liste des personnages</h1>
        <ul class="max-w-md mx-auto bg-gray-700 text-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-5">
            <li v-for="character in characters" :key="character.id">
                <div class="md:flex">
                    <div class="md:flex-shrink-0">
                        <img class="h-64 w-full object-cover md:w-64"
                        :src="character.picture_url" :alt="character.first_name">
                    </div>
                    <div class='p-8'>
                        <h2 class=" block tracking-wide text-2xl font-bold text-white">{{ character.last_name }}
                        </h2>
                        <div class="flex flex-row space-x-2">
                            <p class="({{ character.status === 'Alive' ? 'text-green-600' : 'text-red-600')}}"> O </p>
                            <p class=" mt-1 leading-tight font-normal text-white">{{ character.status }}</p>
                        </div>
                        <p class="mt-2 text-gray-400">Last known location: </p>
                        <p class='text-white text-lg'>{{ character.origin }}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            characters: [],
        };
    },
    async mounted() {
        this.characters = [];
        const resp = await axios.get('http://localhost:8000/api/character')
        this.characters = resp.data
    },
};
</script>